body {
    color: #333333;
    margin: 0;
    text-align: center;
}

header {
    background-color: #421F57;
    display: flex;
    justify-content: space-between;
    padding: 15px;
}

header ul {
    margin: 0;
}
header ul li {
    display: inline-block;
    padding: 0 20px;
}

header ul li a {
    color: #FFFFFF;
    font-size: 20px;
    text-decoration: none;
}

header img {
    height: 30px;
}

footer {
    background-color: #421F57;
    color: #FFFFFF;
    padding: 15px;
}

.top {
    background-image: url(image/top-tokumei.png);
    background-size: cover;
    padding: 350px 0;
}

.top h1 {
    font-size: 70px;
    letter-spacing: 5px;
    text-align: left;
    color: blueviolet;
}

.about {
    background-color: #FAF8FA;
    padding: 100px;
}

h2 {
    margin: 0;
}

hr {
    margin-bottom: 50px;
    height: 5px;
    width: 200px;
    border: none;
}

.blue-line {
    background-color: #D9B9D2;
}

.about img {
    width: 200px;
}

.p {
    margin-left: auto;
    margin-right: auto;
    text-align: left;
    padding-left: 250px;
}

.about table {
    margin-left: auto;
    margin-right: auto;
    text-align: left;
}

.skills {
    background-color: #D9B9D2;
    padding: 100px;
}

.white-line {
    background-color: #FFFFFF;
}

.box {
    background: #FFFFFF;
    border-radius: 10px;
    display: inline-block;
    padding: 20px;
    margin: 20px;
    width: 15%;
}

.box img {
    display: block;
    margin: 20px auto;
    width: 50%;
}

.portfolio {
    background-color: #FAF8FA;
    padding: 100px;
}

.card {
    background: #FFFFFF;
    border-radius: 5px;
    display: inline-block;
    margin: 20px;
    width: 25%;
}
.card img {
    border-radius: 5px 5px 0 0;
    width: 100%;
}
